<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      ECORIDE
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
<p class="ig-typography__caption text">
  EcoRide est la principale plateforme de covoiturage pour les voyageurs de l' environnement et ceux qui recherchent une solution économique pour leur déplacements
</p>
<img src="/assets/IMG_8688.jpg" class="image" />
