<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      ECORIDE
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
<p class="text"></p>
<igx-calendar [hasHeader]="true" headerOrientation="horizontal" class="calendar"></igx-calendar>
<igx-input-group type="border" class="textarea">
  <label igxLabel>CHAUFFEUR DISPONIBLE :57</label>
  <textarea igxInput></textarea>
</igx-input-group>
