<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      ECORIDE
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
@if (radioGroupVisible) {
  <igx-radio-group [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
}
<img src="/assets/IMG_8691 3.jpg" class="image" />
<igx-input-group type="border" class="textarea">
  <label igxLabel>PLACE DE COVOITURAGE DISPONIBLE: 45</label>
  <textarea igxInput [(ngModel)]="value1"></textarea>
</igx-input-group>
